/* @font-face {
    font-family: 'Starborn';
    src: url('./fonts/Starborn.ttf'),
} */

.visible{
    display: flex;
}

.invisible {
    display: none;
}
.canvas-container {
    display: none;
}

#btn-start {
    width: 30%;
    height: 65px;
    margin-left: 30.5%;
    background: transparent;
    border: none;
    position: absolute;
    padding: 40px;
    left: 4rem;
    cursor: pointer;
    bottom: 5rem;
}
.start-container {
    width: 100vw;
    height: 50vw;
    background-image: url('./img/START.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: cover;
    background-size: 100% 100% ;
}
.start-container img{
    position: absolute;
    left: 4rem;
    bottom: 2rem;
    margin-left: 33.5%;
}